---
- name: Provision Infrastructure
  hosts: localhost
  connection: local
  gather_facts: no
  roles:
    - provision

- name: Configure MongoDB
  hosts: mongodb
  become: true
  gather_facts: no 
  roles:
    - mongodb
